Flask==0.8
Unidecode==0.04.9
git+https://github.com/jeanphix/Ghost.py.git#egg=Ghost.py

# Java requirements - documented here, not installed by default
# batik-rasterizer.jar (batik-1.7) installed and available on default CLASSPATH
